<footer>
    <img class ="footerlogo" src=" " > <!--insert img-->

    <div class="sociallogo">
        <img src="Assets/logo_linkedin.png">
        <img src="Assets/logo_twitter.png">
        <img src="Assets/logo_facebook.png"> 
    </div>

    <p>INCode git6 2021TM</p>
</footer>