<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible"
              content="IE=edge">
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>

    <body>

        <%- include('../partials/header') %>


        <main>
            <form>
                <div>
                    <label for="">First Name</label>
                    <input id="firstname"
                           type="text"
                           name="firstname">
                </div>

                <div>
                    <label for="">Last Name</label>
                    <input id="lastname"
                           type="text"
                           name="lastname">
                </div>

                <div>
                    <label for="">Email</label>
                    <input id="email"
                           type="text"
                           name="email">
                </div>

                <div>
                    <label for="">Password</label>
                    <input id="password"
                           type="text"
                           name="password">
                </div>

                <button type="submit">Add New User</button>



            </form>
        </main>



        <!--Footer-->
    </body>

</html>
